/* Common HTML  */
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #3498db;
    text-decoration:none;
}

a:hover {
    color: #5faee3;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

  
/* Header */
#header {
    /* height: 60px; */
    transition: all 0.5s;
    z-index: 997;
    background-color: #f7fbfe;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .navbar-brand {
    color: #3498db;
    /* font-weight: 700;
    font-size: 35px; */
}

/* Navigation Bar */ 
.nav-bar, .navbar-coolapse {
    background-color: #f7fbfe;
}
.navbar-nav a {
    text-transform: uppercase;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
}

.btn-more {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 2px;
    display: inline-block;
    padding: 12px 28px;
    border-radius: 4px;
    transition: ease-in-out 0.3s;
    color: #fff;
    background: #3498db;
    text-transform: uppercase;
}

.btn-more:hover {
    background-color: #4ea5e0;
    color: #fff;
}

/* Hero Section */
#hero {
    width: 100%;
    height: 60vh;
    background: url("../img/header.jpg") center center;
    background-size: cover;
    position: relative;
    margin-top: 70px;
    padding: 0;
}

#hero::before {
    content: "";
    background: rgba(79, 81, 82, 0.7);
     /* background: rgba(8, 33, 39, 0.7); */
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .container {
    z-index: 2;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

#hero h1 span {
    border-bottom: 4px solid #3498db;
}

#hero h2 {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
    font-size: 24px;
    margin-top: 20px;
}

#hero .btn-learn-more {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 2px;
    display: inline-block;
    padding: 12px 28px;
    border-radius: 4px;
    transition: ease-in-out 0.3s;
    color: #fff;
    background: #3498db;
    text-transform: uppercase;
}

#hero .btn-learn-more:hover {
    background-color: #4ea5e0;
}

@media (max-width: 992px) {
    #hero {
      height: calc(100vh - 70px);
    }
}
  
@media (max-width: 768px) {
    #hero h1 {
      font-size: 30px;
      line-height: 36px;
    }
  
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }

    .email p {
        overflow-wrap: break-word;
    }
  }

/* Common Section */
section {
    padding: 60px 0;
}

.section-bg {
    background-color: #f7fbfe;
    /* background-color: yellow; */
}

section .title {
    text-align: center;
    padding-bottom: 30px;
}

section .title h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

section .title p {
    font-weight: 600;
}

section .title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

section .title h2::after { 
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #3498db;
    bottom: 0;
    left: calc(50% - 20px);
}

/* .mybtn {
    background: #3498db;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

.mybtn:hover {
    background: #5faee3;
    color: #fff;
} */

/* What we do */


/* jovino */
.what-we-do .icon-box i {
    font-size: 28px;
    color: #3498db;
    float: left;
    width: 64px;
    height: 64px;
    background: #eaf4fb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.what-we-do .icon-box:hover i {
    background-color: #3498db;
    background: #3498db;
    color: #fff;
}
/* -------------- */






.what-we-do .icon-box {
    text-align: center;
    padding: 30px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
}

.what-we-do .icon-box .icon {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #eaf4fb;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: ease-in-out 0.3s;
}

/* .what-we-do .icon-box .icon i {
    color: #3498db;
    font-size: 28px;
} */

.what-we-do .icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
}

.what-we-do .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.what-we-do .icon-box:hover {
    border-color: #fff;
    box-shadow: 250px 0 250px 0 rgba(0, 0, 0, 0.1);
}

/* .what-we-do .icon-box:hover .icon i {
    color: #3498db;
} */

/* Weekly Updates */
.weekly-updates img {
    width: 60%;
    height: 60%;
}


/* About Us */
.about-us h4, .about-us h5 {
    font-weight: 700;
 }

.about-us ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.about-us ul li+li {
    margin-top: 10px;
}

.about-us ul li {
    position: relative;
    padding-left: 26px;
}

.about-us ul i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 22px;
    color: #3498db;
}

.about-us img {
    border-radius: 2px;
}

.about-us .mission-vision h4 {
    font-size: 20px;
    font-weight: 700;
    /* margin-top: 5px; */
}

.about-us .mission-vision i {
    color: #3498db;
    font-size: 48px;
}

.about-us .mission-vision p {
    font: 15px;
    /* color: #848484; */
}


/* Volunteer */
.volunteer h4 {
    font-weight: 700;
}

.volunteer i {
    color: #3498db;
    font-size: 48px;
}

.volunteer img {
    /* border: 1px solid red; */
    border-radius: 30% 30%;
}


/* Lessons */
.dance-instructions ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.dance-instructions ul li+li {
    margin-top: 10px;
}

.dance-instructions ul li {
    position: relative;
    padding-left: 26px;
}

.dance-instructions ul i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 22px;
    color: #3498db;
}

.dance-instructions img {
    border-radius: 2px;
}

.dance-instructions h4 {
    font-size: 20px;
    font-weight: 700;
    /* margin-top: 5px; */
}

.dance-instructions i {
    color: #3498db;
    font-size: 48px;
}

.dance-instructions p {
    font: 15px;
    /* color: #848484; */
}



/* Contact */
.contact .info {
    padding:30px;
    /* background: rgb(133, 133, 209); */
    border-radius: 4px;
    /* border:1px solid black; */
    width: 100%;
}

.contact .info i {
    font-size: 20px;
    color: #3498db;
    float: left;
    width: 44px;
    height: 44px;
    background: #eaf4fb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding-left: 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color:#7a6960;
}

.contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #ab9d95;
}

.contact .info .address p {
    padding-top: 5px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .facebook:hover i {
    background-color: #3498db;
    color: #fff;
}

.contact .email-form {
    width: 100%;
    padding: 30px;
    /* box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12); */
}

.contact .email-form .form-group {
    padding-bottom: 8px;
}

.contact .email-form input,
.contact .email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.contact .email-form input {
    height: 44px;
}

.contact .email-form textarea {
    padding: 10px 12px;
}

.contact .email-form button[type=submit] {
    border: 0;
}

/* Footer */
#footer {
    padding: 0 0 30px 0;
    color: #444444;
    background: #f7fbfe;
    font-size:14px;
}

.newsletter {
    background: #e3f2fd;
    font-size: 15px;
    padding: 50px;
}

.newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
}

.newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
    text-align: left;
    border: 1px solid #b6daf2;
}

.newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}

.newsletter form input[type=submit] {
    position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  background: #3498db;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}





